<ion-view title="Your credentials">
  <ion-nav-buttons side="right">
    <button ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>
  <ion-content class="login">
      <div class="card">
          <h3 class="text-center ">
              Login or register
          </h3>
      </div>

      <div class="card">

          <div class="list">
              <label class="item item-input username">
                  <input type="text" placeholder="Username" ng-model="logger.username">
              </label>

              <label class="item item-input lock">
                  <input type="password" placeholder="Password" ng-model="logger.password">
              </label>
          </div>

          <button class="button button-full button-blue" ng-click="logger.login()">
              SIGN IN
          </button>
      </div>
      <div class="card">
          <div class="list">
              <label class="item item-input username">
                  <input type="text" placeholder="Username" ng-model="logger.newusername">
              </label>

              <label class="item item-input lock">
                  <input type="password" placeholder="Password" ng-model="logger.newpassword">
              </label>
          </div>

          <button class="button button-full button-blue" ng-click="logger.register()">
              REGISTER
          </button>
      </div>

  </ion-content>
</ion-view>
